# Ignore the compilation output. (Binary)
/battleships/build

# Ignore the cx_freeze file.
/battleships/setup.py

# Ignore all vim temporary files.
*.swp

# Ignore idea-project folder.
.idea/

# Ignore python cached bytecode files.
__pycache__
*.pyc
